@tailwind base;
@tailwind components;
@tailwind utilities;

@layer basease {
    @font-face {
        font-family: 'Inter';
        src: url(/fonts/Inter-Regular.woff2) format("opentype");
        font-weight: 400;
    }
    @font-face {
        font-family: 'Inter';
        src: url(/fonts/Inter-SemiBold.woff2) format("opentype");
        font-weight: 600;
    }

    html {
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        color: rgba(15, 23, 42, 1)
    }

}
